//colors
$color-white:#fff;
$color-black:#000;

$color-light-gray-1:#f7f7f7f7;
$color-gray-dark-2:#333;
$color-gray:#777;
$color-gray-dark:#999;
$color-gray-light:#eee;
$color-light:#7ed56f;
$color-dark:#28b485cf;


$color-secondary-blue:#5643fa;
$color-primary-blue:#2998ff;

$color-secondary-yellow:#ffb900;
$color-secondary-orange:#ff7730;


//font
$default-font-size:1.6rem;


//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;