.features__box{

    background-color: rgba($color-white,.8);
    font-size: 1.5rem;
    border-radius: .2rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    transition: transform .2s;


  

    @include response(tab-port){
        padding: 2rem;
    }

    

    &--icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to top,($color-light,$color-dark));
       -webkit-background-clip: text;
       color: transparent;



       @include response(tab-port){
       margin-bottom: 0;
       }
        
        
    }
    &:hover{
        transform: translateY(-2rem) scale(1.02);
    }


}